<a href="https://colab.research.google.com/github/rajpushkar83/GoogleColab/blob/main/leetcode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
List_a = [2,3,-3,4]

In [ ]:
max_product_list_a = list_a[1] * list_a[2]
for i in 1 to len(list_a)
  for j in 2 to len(list_a)
       max_product_list_a_temp = list_a[i] * list_a[j]

  if max_product_list_a_temp > max_product_list_a
     max_product_list_a_temp = max_product_list_a
prine(max_list_a)

SyntaxError: invalid syntax (<ipython-input-8-6cf513cdd27d>, line 2)

In [ ]:
select employee id , salary_amt from salary order by salary desc nrow =2

In [ ]:
df['temparture'].is_null